
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    height: 100vh;
}

header {
    min-height: 8%;
    background-color: black;
    justify-content: space-between;
}

ul > li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    margin: 5px;
    font-size: 20px;
}

.left a {
    color: blue;
}

footer {
    min-height: 8%;
    background-color: yellowgreen;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

#contain {
    min-height: 84%;
}

.left {
    background-color: rgb(236, 229, 229);
}

.right {
    background-color: rgb(236, 229, 229);
}

.main div {
    padding: 20px;
}

.right button {
    width: 80%;
    height: 40px;
    border-radius: 5px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


.row {
    display: flex;
    flex-wrap: wrap;
}

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#login {
    display: flex;
    align-items: center;
}

#login > a {
    margin: 10px;
}

.col-l-1 {
    width: 8.3333333%;
}

.col-l-2 {
    width: 16.6666667%;
}

.col-l-3 {
    width: 25%;
}

.col-l-4 {
    width: 33.3333333%;
}

.col-l-5 {
    width: 41.66666667%;
}

.col-l-6 {
    width: 50%;
}

.col-l-7 {
    width: 58.33333333%;
}

.col-l-8 {
    width: 66.66666667%;
}

.col-l-9 {
    width: 75%;
}

.col-l-10 {
    width: 83.33333333%;
}

.col-l-11 {
    width: 91.66666667%;
}

.col-l-12 {
    width: 100%;
}


@media only screen  and (min-width: 741px) and (max-width: 1024px) {
    .col-m-1 {
        width: 8.3333333%;
    }

    .col-m-2 {
        width: 16.6666667%;
    }

    .col-m-3 {
        width: 25%;
    }

    .col-m-4 {
        width: 33.3333333%;
    }

    .col-m-5 {
        width: 41.66666667%;
    }

    .col-m-6 {
        width: 50%;
    }

    .col-m-7 {
        width: 58.33333333%;
    }

    .col-m-8 {
        width: 66.66666667%;
    }

    .col-m-9 {
        width: 75%;
    }

    .col-m-10 {
        width: 83.33333333%;
    }

    .col-m-11 {
        width: 91.66666667%;
    }

    .col-m-12 {
        width: 100%;
    }

    /*.right {*/
    /*    display: flex;*/
    /*    justify-content: space-evenly;*/
    /*}*/
}
@media only screen  and (max-width: 740px){
    .col-s-1 {
        width: 8.3333333%;
    }
    .col-s-2 {
        width: 16.6666667%;
    }

    .col-s-3 {
        width: 25%;
    }

    .col-s-4 {
        width: 33.3333333%;
    }

    .col-s-5 {
        width: 41.66666667%;
    }

    .col-s-6 {
        width: 50%;
    }

    .col-s-7 {
        width: 58.33333333%;
    }

    .col-s-8 {
        width: 66.66666667%;
    }

    .col-s-9 {
        width: 75%;
    }

    .col-s-10 {
        width: 83.33333333%;
    }

    .col-s-11 {
        width: 91.66666667%;
    }

    .col-s-12 {
        width: 100%;
    }

}
